.Proyectos {
    width: 80%;
    margin: auto;
    padding: 2rem 0;   
}

.Proyectos-ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    margin: 0;
    list-style: none;
}

.Proyectos-li {
    position: relative;
    list-style: none;
}

.Proyectos-a {
    display: block;
    text-decoration: none;
    color: black;
    border: 4px solid #951616;
    border-radius: 5px;
    overflow: hidden;
}

.Proyectos-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.Proyectos-iframe {
    width: 100%;
    height: 62vh;
    border: none;
}

.Proyectos-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

.Proyectos-a:hover .Proyectos-overlay {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
